aiofiles
aiohttp
aiogram
APScheduler

asyncio
cachetools
dateparser
future
ffmpeg-python
html2text
httpx[http2]
motor
pillow
psutil
pyperclip
pymongo[srv]
pyrate-limiter
pytz
python-arq
python-dotenv
pyttsx3
pyrogram
python-telegram-bot
requests
telegraph
bs4
tgcrypto==1.2.5
flask
