aiofiles==23.2.1
aiohttp==3.9.1
aiogram
APScheduler==3.10.4

asyncio==3.4.3
cachetools==5.3.3
dateparser==1.2.0
future==1.0.0
ffmpeg-python
html2text==2020.1.16
httpx[http2]
motor==3.3.2
pillow==9.5.0
psutil
pymongo[srv]==4.6.2
pyrate-limiter==3.1.1
pytz==2024.1
python-arq==6.0.5
python-dotenv
pyttsx3
pyrogram==2.0.106
python-telegram-bot==20.8
requests==2.31.0
telegraph==2.2.0
bs4
tgcrypto==1.2.5
flask
