MONGO_URL=mongodb+srv://<username>:<password>@<cluster>/<db>?retryWrites=true&w=majority
MONGO_DB_NAME=NARUTOGAMEBOT
MONGO_MEDIA_COLLECTION=anime_characters_lol
MONGO_USER_COLLECTION=user_collection_lmaoooo
MONGO_ENGAGEMENT_COLLECTION=media_engagement
